<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Identificação</ion-card-title>
      <ion-card-subtitle>Use seu e-mail registrado</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" placeholder="nome@instituicao.br"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" class="ion-margin-top" color="primary">
        Continuar
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-text color="medium">
    <p>Fluxo completo será implementado na Fase 2.</p>
  </ion-text>
</ion-content>
