<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/meus-livros"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="salvar()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">ISBN</ion-label>
        <ion-input formControlName="isbn" inputmode="numeric"></ion-input>
      </ion-item>
      <ion-row class="ion-padding-horizontal ion-padding-top">
        <ion-col size="6">
          <ion-button expand="block" fill="outline" (click)="buscarPorIsbn()" type="button">
            Buscar ISBN
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="dark" (click)="escanearIsbn()" type="button">
            Escanear código
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-item *ngIf="buscandoIsbn">
        <ion-label>
          <ion-spinner name="crescent"></ion-spinner>
          <span class="ms-2">Buscando dados no Google Books...</span>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Título *</ion-label>
        <ion-input formControlName="titulo"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="formulario.get('titulo')?.touched && formulario.get('titulo')?.invalid">
        O título é obrigatório.
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Autor</ion-label>
        <ion-input formControlName="autor"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Editora</ion-label>
        <ion-input formControlName="editora"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Ano de publicação</ion-label>
        <ion-input formControlName="ano_publicacao" inputmode="numeric" maxlength="4"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">URL da capa</ion-label>
        <ion-input formControlName="capa_url" type="url"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sinopse</ion-label>
        <ion-textarea formControlName="sinopse" autoGrow="true"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Modalidades *</ion-label>
        <ion-select formControlName="modalidades" interface="popover" multiple="true">
          <ion-select-option *ngFor="let modalidade of modalidades" [value]="modalidade.valor">
            {{ modalidade.texto }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" *ngIf="formulario.get('modalidades')?.touched && formulario.get('modalidades')?.invalid">
        Selecione pelo menos uma modalidade.
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Valor semanal do aluguel</ion-label>
        <ion-input formControlName="valor_aluguel_semanal" type="number" min="0" step="0.5"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Prazo do empréstimo (dias)</ion-label>
        <ion-input formControlName="prazo_emprestimo_dias" type="number" min="1" step="1"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Disponível para negociação</ion-label>
        <ion-toggle formControlName="disponivel"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-padding>
      <ion-button expand="block" type="submit" [disabled]="salvando">
        <ion-spinner slot="start" *ngIf="salvando" name="crescent"></ion-spinner>
        Salvar livro
      </ion-button>
    </ion-padding>
  </form>
</ion-content>

