
.perfil-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar-placeholder {
  background: var(--ion-color-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #fff;
}


